:root {
	--frosted-glass: #f0f0ff14;
	--color-text-light: #f7fafc;

	--background-color: #034732;
	--leaf-color: #008148;
	--cta-color: #da3543;
}

html,
body {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
	color: var(--color-text-light);
	font-size: 16px;
}
body {
	display: flex;
	flex-direction: column;
	background-image: repeating-linear-gradient(
			rgba(20, 20, 24, 1),
			transparent 15vmax,
			transparent 52vmax,
			rgba(20, 20, 24, 1) 66.66vmax
		),
		url('/monstera-real.jpg');
	background-size: 100%;
	background-repeat: repeat-y;
}

body > * {
	font-size: 1.125rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-size: inherit;
	line-height: 1;
	font-weight: 400;
}

.panel {
	background-color: transparent;
	transition: background-color 0.25s ease-in-out;
	backdrop-filter: blur(32px);
	border: 1px solid var(--frosted-glass);
	border-radius: 0.125rem;
	box-shadow: 0 0 10rem 0 var(--frosted-glass) inset;
}
.panel:hover {
	background-color: var(--frosted-glass);
}

button:enabled {
	cursor: pointer;
}

strong {
	font-weight: bold;
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--frosted-glass);
}
::-webkit-scrollbar-track {
	background-color: var(--frosted-glass);
}
